.add-review-form {
  position: sticky;
  bottom: -30px;
  left: 0;
  padding: 12px;
  background: white;

  display: flex;
  align-items: start;
  gap: 12px;
  width: 100%;
  border-radius: 12px;
}

.add-review-input {
  width: 80%;
  outline: none;
  padding: 8px;
  border: 0.5px solid #deb887;
  border-radius: 12px;
}

#Rating {
  border-radius: 4px;
  border: 0.5px solid #deb887;
  padding: 5px;
  outline: none;
}

.review-btn {
  padding: 5px 8px;
  background: #deb887;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
}
