.authors_wrapper {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authors-header {
  font-size: 40px;
}
