.book-wrapper {
  background: #e0d4d4;
  display: flex;
  flex: 1.5;
}

.book-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 3;
}

.book-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 2;
}

.book-user {
  font-size: 14px;
  color: #6258ec;
  font-weight: 300;
}
