/*  */
.nav-wrapper {
  /* background-color: #deb887; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    189deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(236, 195, 143, 0.9641106442577031) 0%,
    rgba(158, 158, 158, 1) 89%
  );
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#nav {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  list-style: none;
  padding-right: 12px;
}

.nav-links {
  transition: all 0.5s ease;
}

.nav-links:hover {
  color: #808080;
}

.img-placeholder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.header {
  font-weight: bold;
  font-size: 22px;
}

.header .header-span {
  color: lightgray;
}

.profile-option {
  background-color: burlywood;
  position: absolute;
  top: 85px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  z-index: 10;
}

.username {
  text-transform: capitalize;
  font-weight: 500;
}

.logout-btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
