.book-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
/* .card--img{
  width: 100%;
} */
  
  .book-card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(27, 27, 48, 0.1);
    text-align: center;
    width: 200px;
    height: 400px;
    margin: 10px;
  }
  
  .book-card img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .book-card h2 {
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .book-card p {
    color: black;
    margin-bottom: 5px;
  }
  
  .book-card button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .book-card button:hover {
    background-color: black;
    color: white;
  }
  