.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 30px;
  background: burlywood;
}

.footer-links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  padding: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.footer-links h4 {
  font-size: 18px;
  color: gray;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.links li {
  cursor: pointer;
}
