.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 30px;
  background: burlywood;
  background: rgb(239, 186, 120);
  background: radial-gradient(
    circle,
    rgba(239, 186, 120, 0.9641106442577031) 0%,
    rgba(239, 186, 120, 1) 26%,
    rgba(158, 158, 158, 1) 100%
  );
}

.footer-links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  padding: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.footer-links h4 {
  font-size: 18px;
  color: gray;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.links li {
  cursor: pointer;
}
