.book {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 80px;
  width: 90vw;
  height: 90vh;

  margin: 0 auto;
  position: relative;
}

.reviews-container {
  background: #f4f3f3;
  flex: 1;

  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.reviews-wrapper h3 {
  font-weight: 600;
  color: gray;
}
