.signup {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.signup-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
  background: #fff;
}

.signup-welcome-page {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.signup-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.welcome-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  padding: 30px;
  display: flex;
  flex-direction: column;
  color: white;
}

.welcome-text-title {
  font-size: 72px;
  margin: 24px 0;
}

.welcome-text-desc {
  font-size: 16px;
  line-height: 24px;
}

.signup-wrapper button {
  border: 0.5px solid #fff;
  padding: 6px 12px;
  border-radius: 6px;
  color: #deb887;
  transition: all 0.5s ease-out;
}

.signup-wrapper button:hover {
  background: #deb887;
  color: #fff;
  border: 0.5px solid #deb887;
}

.signup-text {
  font-size: 16px;
}

.signup-text a {
  color: #deb887;
}

.signup-form-wrapper {
  flex: 1;
  /* width: 100%; */
  height: 100%;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid gray; */
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.title {
  font-size: 50px;
  margin: 15px 0;
}

.signup-input {
  border: none;
  outline: none;
  padding: 12px;
  color: gray;
  border-bottom: 1px solid gray;
}

.signup-btn {
  padding: 8px 24px;
  width: fit-content;
  border: 1px solid #deb887;
  border-radius: 6px;
  cursor: pointer;
  background: #deb887;
  color: white;
  font-size: 14px;
  transition: all 0.5s ease-out;
}

.signup-btn:hover {
  background: white;
  color: #deb887;
  border: 1px solid #deb887;
}
